body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  height: 100vh;
  width: 100vw; 
  overflow: hidden; 
}

.error {
  color: 'red'; 
}

.log-card {
  max-width: 20rem; 
}

.log-entry-form {
  width: 20rem;
}

.log-image {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 5%; 
}

/*below makes popup appear closer so that the other map markers do not appear through the popup*/

.popup {
  z-index: 1;
}

